*{
	box-sizing: border-box;
}

body, html {
  height: 100%;
}

header{
	background: #CDD5DC;
	padding: 15px;

}

header a{
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
}

header .logo-area{
	color: #FFF;
	font-family: 'Indie Flower', cursive;
	display: inline-block;
	width: 40%;
}

header .logo-area a{
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
}

header .top-menu{
	display: inline-block;
	width: 60%;
	text-align: right;
	border: 1px solid rgba(255,255,255, .3);
}

header .top-menu ul li{
	display: inline-block;
}

header .top-menu ul li a{
	margin-right: 20px;
}

#content-area{
	height: 100%;
	overflow: auto;
	display: table;
}

 #content-area .main-area{
	float: left;
	background: grey;
	width: 65%;
	height: 100%;
}

 #content-area .side-column{
	overflow: auto;
	background: red;
	width: 35%;
	height: 100%;
}
 
footer{
  	clear: both;
	position:absolute;
	bottom:0;
	padding: 15px;
	background: #CDD5DC;
	width: 100%;
	color: #FFF;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}
